header {
    background-color: var(--secondary-color);
}
header .limite {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
header figure {
    max-width: 300px;
}
header figure img {
    width: 100%;
}